<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
    <form action="/change" method="post">
    <table class="table table-inverse">
        <thead>
            <input type="text" value="<%=data[0]['employeeID']%>"  >
            <th>
                <label>Details of Employee ID: <%=data[0]['employeeID']%></label>
            </th>
        </thead>
        <tbody>
            <% for(var i = 1; i< keys.length ; i++){%>
            <tr>
                <td>
                    <label><%=keys[i]%>:</keys></label>
                    <input type="text" value="<%=data[0][keys[i]]%>" name="<%=keys[i]%>" onchange="activateSubmit()">
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
    <input type="submit" id="submit" disabled="true">
    </form>
</body>
</html>
